<div class="home__container">
  <app-card
  gameCover="../../../assets/bt-1.jpg"
  gameLabel="EXCLUSIVE"
  gamePrice="30.00"
  gameType="Full game | PS4 | PS3 | PS Vita"
  gameInfo="Play it Now!"
  />
  <app-card
  gameCover="../../../assets/bt-4.jpg"
  gameLabel="DIGITAL"
  gamePrice="40.00"
  gameType="Full game | PS4 | PS3 | PS Vita"
  gameInfo="Play it Now!"
  />
  <app-card
  gameCover="../../../assets/bt-5.jpg"
  gameLabel="NEW"
  gamePrice="50.00"
  gameType="Full game | PS4 "
  gameInfo="Play it Now!"
  />
  <app-card
  gameCover="../../../assets/bt-bad-company-2.jpg"
  gameLabel="NEW"
  gamePrice="25.00"
  gameType="Full game | PS4 "
  gameInfo="Play it Now!"
  />
  <app-card
  gameCover="../../../assets/bt-hardline.jpg"
  gameLabel="NEW"
  gamePrice="45.00"
  gameType="Full game | PS4 "
  gameInfo="Play it Now!"
  />
  <app-card
  gameCover="../../../assets/ac-cover.jpg"
  gameLabel="NEW"
  gamePrice="60.00"
  gameType="Full game | PS4 "
  gameInfo="Play it Now!"
  />
</div>

